.DS_Store
tutorial/snippets/__pycache__/*
tutorial/tutorial/__pycache__/*
tutorial/snippets/migrations/*
tutorial/.idea/*
.idea/*
tuorial/.elasticbeanstalk/*
tuorial/.ebextensions/*
static/*
algorithm/input/*
algorithm/xgboost/*
algorithm/countries.csv
algorithm/sub.csv
eb-virt/*
zipfile/*

