container_commands:
  01_migrateapp:
    command: "python manage.py makemigrations snippets"
    leader_only: true
  02_makemigrations:
    command: "python manage.py makemigrations"
    leader_only: true
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  addpath: 
    command: sudo export PATH=$PATH:/usr/local/lib64/python3.4/site-packages
    ignoreErrors: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: tutorial.settings