<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
var formData = JSON.stringify($("#myForm").serializeArray());
$.ajax({
  type: "POST",
  url: "{% url 'user-instance' %}",
  data: formData,
  success: function(){},
  dataType: "json",
  contentType : "application/json"
});
</script> -->
</head>
<body>
<form class="form-horizontal" action="{% url 'user-instance' %}" method="post" name="myForm">
	{% csrf_token %}
    account <input type="text" name="account" />
    email <input type="text" name="email" />
    age <input type="text" name="age" />
    language   <input list="language" name="language">
    <datalist id="language">
      <option value="en">
      <option value="de">
      <option value="it">
    </datalist>
    <input type="submit" class="btn btn-default" value="Add Users" />
</form>
{% if test_list %}
<div class="panel panel-default">
    {% for users in test_list %}
        <div class="panel-header text-center" ><h1><a href="/users/loc/{{ users.id }}">{{ users.account }}</a></h1></div>
    {% endfor %}
</div>

{% else %}
    <p>No users are available.</p>
{% endif %}
</body>
</html>