<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/default.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="section section-fill-height section-opaque-dark text-xs-center" src="D:\Pictures\Images\20140619_072312.jpg">
    <div class="background-image" style="background-image : url('IMG_4034.JPG')"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 pi-draggable pi-item text-warning">Sign Up!</h1>
          <form class="" draggable="true">
            <div class="form-group">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="display-5 pi-draggable pi-item text-inverse">Username:</h2>
                    <input type="text" class="form-control" placeholder="Enter username">

                    <h2 class="display-5 pi-draggable pi-item text-inverse">Email:</h2>
                    <input type="email" class="form-control" placeholder="Enter email">


                    <h2 class="display-5 pi-draggable pi-item text-inverse">Age:</h2>
                    <input type="text" class="form-control" placeholder="Age">

                    <h2 class="display-5 pi-draggable pi-item text-inverse">Language:</h2>
                    <div class="dropdown ">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> Select Language
                        <span class="caret"></span></button>
                         <ul class="dropdown-menu">
                            <li><a href="#">en</a></li>
                            <li><a href="#">de</a></li>
                            <li><a href="#">it</a></li>
                         </ul>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-lg btn-secondary-outline m-y-lg">Submit</a>
            </div>

          </form>
          
            
             <h3> <li><a href = "#" class="list-group-item list-group-item-action list-group-item-warning">test</a></li></h3>
           
         
        </div>
      </div>
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    </div>
  </div>


</body>

</html>